body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: grey;
    background-repeat: no-repeat;
}

.header {
    padding-top: 10px;
}

.page-footer {
    position: fixed;
    bottom: 5px;
    background-color: #fff;
    width: 100%;
}

.foot-user {
    position: fixed;
    bottom: 20px;
    font-family: 'comic sans';
}