{% extends "core/base.html" %}

{% block content %}
<h1>Add a Bark</h1>

{% if form.errors %}
    <div class="alert alert-warning">
        Where's your bark??
    </div>
    {% else %}
        <h3>
            What you barkin' 'bout?
        </h3>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}

    {% for field in form %}
        {% include "core/_form_input.html" %}
    {%  endfor %}
    <button type="submit" class="btn btn-warning btn-lg">Add Bark</button>
</form>
{% endblock content %}