{% extends "core/base.html" %}

{% block content %}
    <h1>{{ author }}'s barks list</h1>

    <ul>
        {% for bark in barks %}
            <li class="barkers-bark">
                {{ bark }} -- {{ bark.post_date }}
            </li>
            <li>
                <a href="{{ bark.get_absolute_url }}">Edit</a>
            </li>
        <hr style="border-top: 1px dotted black;">
        {% endfor %}
    </ul>

<a class="btn btn-warning btn-lg" href="{% url 'barks:add_bark' %}">Add a bark</a>

{% endblock content %}