{% extends "core/base.html" %}

{% block content %}
<h2>Bark that edit!</h2>

{% if form.errors %}
    <div class="alert alert-warning">
        There is no barked edit...there is only Zuul.
    </div>
    {% else %}
        <p>Barkin' edits below:</p>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}

    {% for field in form %}
        {% include "core/_form_input.html" %}
    {%  endfor %}
    <button type="submit" class="btn btn-warning">Confirm Edit</button>
</form>
{% endblock content %}