{% extends "core/base.html" %}

{% block content %}
<h2>the Kennel</h2>
<small>There are {{user_count}} barkers on Barkin@pp!</small>
<p>
    <div class="bark-scroll">
        {% for bark in ubs %}
            <ul>
                <li>{{bark.user.username}}
                    </li>
                <li>{{bark.post_date}}
                    </li>
                <li>{{bark.content}}
                    </li>
            </ul>
        {% endfor %}
    </div>
</p>
<p>
<ul>
    <li><a class="btn btn-warning" 
    href="{% url 'barks:add_bark' %}"
    >
    Add a bark
    </a></li>
</ul>
</p>
{% endblock content %}