{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Barkin@pp
        {% endblock title %}
    </title>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Quicksand" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/a04d9e4c1c.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#howdy" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span>
                        <img src="{% static 'images/zynga-blue.png' %}" width="40px">
                    </span>
                    <a class="navbar-brand" href="{% url 'core:splash' %}">
                        Barkin@pp
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="howdy">
                    <ul class="nav navbar-nav navbar-right">

                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'accounts:logout' %}">Logout
                            </a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}" id="login">Login
                            </a></li>
                        <li><a href="{% url 'accounts:register' %}" id="sign_up">Sign up
                            </a></li>
                    {% endif %}

                            <li role="presentation"><a href="{% url 'barks:global_barks_list' %}">the Kennel
                                </a></li>
                        {% if request.user.is_authenticated %}
                            <li role="presentation"><em>Hello! {{user}}</em>
                                </li>
                        {% else %}
                            <li role="presentation"><em>Hello! Guest</em>
                                </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </nav>
    </header>
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="aler alert-success">
            {{ message}}
            </div>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% block content %}

    {% endblock content %}
</div>

<footer class="page-footer">
    <hr>
    <div class="aligned">
        <div>Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <span class="aligned">&copy; dark eyes design 2016</span>
    </div>
    <hr>
</footer>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>

</body>
</html>