{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron">
    <h1>
        <img src="{% static 'images/french-bulldog.png' %}" width="60px">
        &nbsp;Welcome to Barkin@pp!
    </h1>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <p>
            <div class="text-block">
                <p><strong>Barkin@pp</strong> is my take on a twitter-clone; it was designed during my time at Awesome Inc. U.'s 'Bootcamp' using Django as a 'Bootcamp' project.
                </p>

                <p>Feel free to <a href="{% url 'accounts:login' %}">Login</a> or <a href="{% url 'accounts:register' %}">Signup!
                    </a>
                </p>
            </div>
    </div>
</div>
{% endblock %}