{% extends "core/base.html" %}

{% block content %}

<h2>Login</h2>

    {% if form.errors %}
        <div class="alert alert-warning">
            Username or Passphrase weren't found. Try again.
        </div>
    {% else %}
        <p>Fill out the form below to log in.</p>
    {% endif %}

    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            {% include "core/_form_input.html" %}
        {% endfor %}
        <input type="hidden" name="next" value="{{next}}">
        <button type="submit" class="btn btn-warning">Log in</button>
    </form>

{% endblock content %}